@import url(https://fonts.googleapis.com/css?family=Raleway);

body, html{ 
	height: 75%;
	margin: 0;
	font-size: 16px;
	font-family: "Raleway", sans-serif;
	font-weight: 400;
	line-height: 1.8em;
	color: #141823;
}

.img1, .img2, .img3{
	background-repeat: no-repeat;
	position: relative;
	background-position: center;
	background-size: cover;

	background-attachment: fixed;

}

.img1{
	background-image: url(../code.jpg);
	min-height: 100%;
}

.img2{
	background-image: url(../fastcar.jpg);
	min-height: 400px;
}

.img3{
	background-image: url(../game.jpg);
	min-height: 400px;
}

.img2text{
	position: absolute;
	top: 50%;
	width: 100%;
	text-align: center;
	color: #000;
	font-size: 27px;
	letter-spacing: 8px;
	text-transform: uppercase;
}

.img3text{
	position: absolute;
	top: 50%;
	width: 100%;
	text-align: center;
	color: #000;
	font-size: 27px;
	letter-spacing: 8px;
	text-transform: uppercase;
}

.border2{
	background-color: #111;  
	color: #fff;
	padding: 20px;
}

.border3{
	background-color: #111;  
	color: #fff;
	padding: 20px;
}

.img1text{
	position: absolute;
	top: 50%;
	width: 100%;
	text-align: center;
	color: #000;
	font-size: 27px;
	letter-spacing: 8px;
	text-transform: uppercase;
}

.img1text .border{
   	background-color: #111;  
	color: #fff;
	margin: 20px;
	padding: 20px;
}

section{
	padding: 30px;
	background-color:#f0f0f0;
	text-align: center;
}

section h1{
	color: #3743CE;
}


